:root {
  --header-background: #84a278;
  --main-background: #84a178;
  --title-white-color: #fcfcfc;
  --title-black-color: #131313;
  --button-background: #f8d24e;
  --hover-text-color: #f8d24e;
  --logo-icon-color: #f8d24e;
  --icon-color: #131313;
  --link-hover-color: #d6936d;
}
