<div class="backdrop is-hidden" data-franchise-modal>
  <div class="franchise-modal">
    <button
      type="button"
      class="franchise-modal-close"
      data-franchise-modal-close
    >
      <svg class="franchise-modal-close__icon" width="20" height="20">
        <use href="./images/icons.svg#icon-modal-cross"></use>
      </svg>
    </button>
    <p class="franchise-modal__title">
      Thank you for your interest in owning an Ice Cream shop
    </p>
    <p class="franchise-modal__text">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>
    <form class="franchise-modal-form">
      <div class="franchise-modal-field">
        <input
          type="text"
          name="franchise-user-name"
          placeholder="Name"
          class="franchise-modal-field__input"
        />
      </div>
      <div class="franchise-modal-field">
        <input
          type="tel"
          name="franchise-user-phone"
          placeholder="Phone"
          class="franchise-modal-field__input"
        />
      </div>
      <div class="franchise-modal-field">
        <input
          type="email"
          name="franchise-user-email"
          placeholder="Email"
          class="franchise-modal-field__input"
        />
      </div>
      <div class="franchise-modal-field">
        <textarea
          name="franchise-user-comment"
          placeholder="Comment"
          class="franchise-modal-field__comment"
        ></textarea>
      </div>
      <button type="submit" class="franchise-modal-submit">Submit</button>
    </form>
  </div>
</div>
