<header class="header">
	<div class="container header__flex">

		<a class="logo" href="#">
			<picture>
				<source srcset="./images/hero-header/logo-desk.png 1x, ./images/hero-header/logo-desk-2x.png 2x"
					media="(min-width: 1200px)" />

				<source srcset="./images/hero-header/logo-tab.png 1x, ./images/hero-header/logo-tab-2x.png 2x"
					media="(min-width: 768px)" />

				<img class="logo__img" srcset="./images/hero-header/logo-mob.png 1x, ./images/hero-header/logo-mob-2x.png 2x"
					src="./images/hero-header/logo-mob.png" alt="logo" />
			</picture>
		</a>

		<nav>
			<ul class="nav__list">
				<li class="nav__item"><a href="#home">Home</a></li>
				<li class="nav__item"><a href="#how">How it’s made?</a></li>
				<li class="nav__item"><a href="#products">Our products</a></li>
				<li class="nav__item"><a href="#contacts">Contact</a></li>
			</ul>
		</nav>

		<div class="burger__flex test">
			<div class="burger">
				<button class="burger__button" type="button" aria-expanded="false" aria-controls="burger" data-menu-button>
					<svg width="32" height="32" aria-label="Меню бургер">
						<use class="burger__icon" href="./images/icons.svg#icon-menu-burger"></use>
						<use class="burger__icon--close" href="./images/icons.svg#icon-menu-cross"></use>
					</svg>
				</button>

				<div class="burger__menu" id="burger" data-menu>
					<ul class="burger__list">
						<li class="burger__item"><a href="#home">Home</a></li>
						<li class="burger__item"><a href="#how">How it’s made?</a></li>
						<li class="burger__item"><a href="#products">Our products</a></li>
						<li class="burger__item"><a href="#contacts">Contact</a></li>
					</ul>
					<button class="burger__order" type="button">
						<span class="order__text">Buy now</span>
						<svg height="12" width="12">
							<use href="./images/icons.svg#icon-arrow"></use>
						</svg>
					</button>
				</div>

			</div>
			<button class="order" type="button" data-buy-modal-open>
				Buy now
				<svg class="order__arrow" height="12" width="12">
					<use href="./images/icons.svg#icon-arrow"></use>
				</svg>
			</button>
		</div>
	</div>
</header>

<section class="hero">
	<div class="container">
		<div class="hero__anchor" id="home"></div>
		<h1 class="hero__title">ice cream made with passion</h1>

		<div class="hero__anchors">
			<a class="hero__products" href="#products">Products</a>
			<a class="hero__how" href="#how">How it’s made?</a>
		</div>

		<a class="hero__description">
			<p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
				incididunt
				ut labore et</p>
			<svg height="16" width="40">
				<use class="hero__arrow" href="./images/icons.svg#icon-big-arrow"></use>
			</svg>
		</a>

		<ul class="hero__statistic">
			<li class="statistic statistic__number">16</li>
			<li class="statistic statistic__title">cafes</li>
			<li class="statistic statistic__number">23</li>
			<li class="statistic statistic__title">food trucks</li>
		</ul>

	</div>
	<picture>
		<source srcset="./images/hero-header/dish-desk.png 1x, ./images/hero-header/dish-desk-2x.png 2x"
			media="(min-width: 1200px)" />

		<img class="hero__dish" srcset="./images/hero-header/dish-tab.png 1x, ./images/hero-header/dish-tab-2x.png 2x"
			src="./images/hero-header/dish-tab.png" alt="dish with ice-cream" />
	</picture>

	<picture>
		<source srcset="./images/hero-header/dots-desk.png 1x, ./images/hero-header/dots-desk-2x.png 2x"
			media="(min-width: 1200px)" />

		<source srcset="./images/hero-header/dots-tab.png 1x, ./images/hero-header/dots-tab-2x.png 2x"
			media="(min-width: 768px)" />

		<img class="hero__dots" srcset="./images/hero-header/dots-mob.png 1x, ./images/hero-header/dots-mob-2x.png 2x"
			src="./images/hero-header/dots-mob.png" alt="dots" />
	</picture>

	<picture>
		<source srcset="./images/hero-header/ice-cream-desk.png 1x, ./images/hero-header/ice-cream-desk-2x.png 2x"
			media="(min-width: 1200px)" />

		<source srcset="./images/hero-header/ice-cream-tab.png 1x, ./images/hero-header/ice-cream-tab-2x.png 2x"
			media="(min-width: 768px)" />

		<img class="hero__ice-cream"
			srcset="./images/hero-header/ice-cream-mob.png 1x, ./images/hero-header/ice-cream-mob-2x.png 2x"
			src="./images/hero-header/ice-cream-mob.png" alt="ice-cream" />
	</picture>
</section>

<!-- Up button -->
<a class="back-to-top" href="#"></a>