<!-- -------------------------------------ingredients-modal--------- -->

<div class="backdrop is-hidden" data-ingredients-modal>
  <div class="ingredients-modal-window">
    <button class="ingredients-modal-close" data-ingredients-modal-close>
      <svg class="ingredients-modal-close__icon">
        <use href="/src/images/icons.svg#icon-modal-cross"></use>
      </svg>
    </button>
    <h3 class="ingredients-title">Chololate icecream</h3>

    <picture class="ingredients-picture">
      <source
        class="ingredients-img"
        srcset="
          ./images/products/ingrade-ice-cream-mob.jpg    1x,
          ./images/products/ingrade-ice-cream-mob-2x.jpg 2x
        "
        media="(min-widht: 768px)"
      />
      <img
        srcset="
          ./images/products/ingrade-ice-cream-mob.jpg    1x,
          ./images/products/ingrade-ice-cream-mob-2x.jpg 2x
        "
        sizes="100%"
        src="/src/images/products/ingrade-ice-cream-mob.jpg"
        alt="ice"
      />
    </picture>

    <ul class="ingredients-energy-list">
      <li class="ingredients-energy-item">
        <p class="energy-value"><span class="energy-value-count">320</span></p>
        <p class="energy-mean"><span class="energy-mean-value"> kcal</span></p>
      </li>
      <li class="ingredients-energy-item">
        <p class="energy-value"><span class="energy-value-count">4g</span></p>
        <p class="energy-mean">
          <span class="energy-mean-value"> Prote...</span>
        </p>
      </li>
      <li class="ingredients-energy-item">
        <p class="energy-value"><span class="energy-value-count">8,2g</span></p>
        <p class="energy-mean"><span class="energy-mean-value"> Fats</span></p>
      </li>
      <li class="ingredients-energy-item">
        <p class="energy-value">
          <span class="energy-value-count">40,4g</span>
        </p>
        <p class="energy-mean"><span class="energy-mean-value"> Carbs</span></p>
      </li>
    </ul>

    <p class="ingredients-subtitle">Ingredients</p>
    <div class="list-wrapper">
      <ul class="ingredients-list">
        <li class="ingredients-list-item">Milk</li>
        <li class="ingredients-list-item">Belgian chocolate</li>
        <li class="ingredients-list-item">Cream</li>
        <li class="ingredients-list-item">Cocoa powder</li>
        <li class="ingredients-list-item">Sugar</li>
        <li class="ingredients-list-item">Vanilla sugar</li>
      </ul>

      <ul class="ingredients-weight">
        <li class="ingredients-weight-item">100ml</li>
        <li class="ingredients-weight-item">20g</li>
        <li class="ingredients-weight-item">150 ml</li>
        <li class="ingredients-weight-item">30g</li>
        <li class="ingredients-weight-item">40g</li>
        <li class="ingredients-weight-item">10g</li>
      </ul>
    </div>

    <form class="ingredients-form" action="">
      <label for="name"></label>
      <input class="form-name" type="name" placeholder="Name" />
      <label for="tel"></label>
      <input class="form-tel" type="tel" placeholder="Phone" />
      <label for="comment"></label>
      <textarea
        class="form-comment"
        name="comment"
        id=""
        cols="30"
        rows="10"
        placeholder="Comment"
      ></textarea>
    </form>

    <button class="submit-button" type="submit">Submit</button>
  </div>
</div>
