<div class="backdrop is-hidden" data-location-modal>
  <div class="location-modal">
    <button
      type="button"
      class="location-modal-close"
      data-location-modal-close
    >
      <svg class="location-modal-close__icon" width="20" height="20">
        <use href="./images/icons.svg#icon-modal-cross"></use>
      </svg>
    </button>
    <p class="location-modal__title">Our Locations</p>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d744.6983432911755!2d-87.78083464130762!3d41.70339610618279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e398890fc00bf%3A0x3ad74ea6953e8a36!2sCAFE2!5e0!3m2!1sru!2sua!4v1671735717302!5m2!1sru!2sua"
      class="location-modal__map"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <a
      href="https://goo.gl/maps/fBaPqDbzaRc1SqgP9"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="location-modal__link"
      >Open map</a
    >
  </div>
</div>
