<!-- ----------------------------Producrs ---------------- -->

<div class="product-section" id="products">
  <div class="container">
    <p class="section-text">100% natural</p>
    <h2 class="section__title">products</h2>
    <ul class="product__list">
      <li class="product-ice-cream">
        <div class="product-text-wraper">
          <div>
            <h3 class="product-item-title">ice cream</h3>
            <p class="product-item-subtitle">
              Soft ice cream with a delicate taste. Made with milk, cream, sugar
              and natural stabilizer
            </p>
          </div>

          <svg class="product-arrow" data-ingredients-modal-open>
            <use href="/src/images/icons.svg#icon-big-arrow"></use>
          </svg>
        </div>
      </li>
      <li class="product-ice-coffee">
        <div class="product-text-wraper">
          <div>
            <h3 class="product-item-title">ice coffee</h3>
            <p class="product-item-subtitle">
              Fragrant invigorating drink created from 100% natural ingredients
              without the use of preservatives and flavor enhancers
            </p>
          </div>

          <svg class="product-arrow" data-ingredients-modal-open>
            <use href="/src/images/icons.svg#icon-big-arrow"></use>
          </svg>
        </div>
      </li>
      <li class="product-milkshakes">
        <div class="product-text-wraper">
          <div>
            <h3 class="product-item-title">milkshakes</h3>
            <p class="product-item-subtitle">
              Sweet drinks based on milk and ice cream, supplemented with
              syrups, fruits, berries and other sweets of your choice
            </p>
          </div>

          <svg class="product-arrow" data-ingredients-modal-open>
            <use href="/src/images/icons.svg#icon-big-arrow"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</div>
